.content {
    margin-left: 15vw;
    margin-right: 15vw;
}

@keyframes loading1 {
    100% {
        background-position-x: 100%;
    }
}

.placeholder {
    background-image: linear-gradient(to right, lightgrey, transparent);
    animation-name: loading1;
    animation-duration: 3s;
    border-radius: 5px;
}

.excel {
    border-spacing: 0;
    border-collapse: collapse;

    th {
        position: sticky;
        top: 0;
        background-color: lightgray;
        border-color: slategray;
        border-right-width: 1px;
        border-bottom-width: 1px;
        _min-width: 15em;
    }
    td {
        border-color: lightgray;
        border-width: 1px;
    }
}