.content {
    margin-left: 15vw;
    margin-right: 15vw;
}

@keyframes loading1 {
    100% {
        background-position-x: 100%;
    }
}

.placeholder {
    background-image: linear-gradient(to right, lightgrey, transparent);
    border-radius: 5px;
    margin-bottom: 1em;
    margin-top: 1em;
    color: grey;
    padding: 1em;

    &::before {
        content: "Lorem ipsum";
    }
}

.excel {
    border-spacing: 0;
    border-collapse: collapse;

    th {
        position: sticky;
        top: 0;
        background-color: lightgray;
        /* border-right: */
        box-shadow: -1px gray inset;
        padding-right: 2em;
    }
    td {
        border: 1px solid lightgray;
        padding-right: 2em;
    }
}